<template>
  <div id="comment">
      <form action="" @submit.prevent="edit ? editComment(comment.id) : createComment()">
        <div class="col-md-12">
          <textarea 
          id="content" 
          name="content" 
          class="form-control"
          v-model="this.comment.content"         
          ref="textarea"      
          maxlength="300"
          data-length="300"              
          placeholder="Add your comment">
          </textarea>          
        </div>

        <div class="col-md-12">            
            <button type="submit" class="btn btn-primary pull-right"  v-show="!edit" onclick="">            
              <i class="fa fa-paper-plane" aria-hidden="true"> Send</i>
            </button>
        </div>
      </form>
    
    <div class="col-md-8">
    <ul>
      <li v-for="com in comments" v-bind:key="com.id" style="padding:20px; font-size:14px;">
        <a :href="'#'+com.user_id">
          <i class="fa fax-2x fa-user-circle" aria-hidden="true"></i>
        </a>                  
          {{com.content}}  <br>   

          <span class="text-muted" style="margin-left:20px;">{{com.updated_at}}</span>  
      </li>
    </ul>
    </div>

  </div>
</template>

<script>
  export default {
    props: ['target_id', 'user_name', 'type', 'placeholder'],

    data: function(){
      return {
        edit:false,
        comments:[],
        
        comment: {    
          id: '', 
          content: '',           
          user_id: window.Global.user_id,
          user_name: this.user_name, 

          // film_id ...
          target_id: this.target_id,
          updated_at: new Date().toLocaleTimeString(),

          // 'films'
          type: this.type,
        },
      }
    },

created: function(){
    this.fetchComments();
},
  ready: function(){
    this.fetchComments();
  },

  methods: {
    fetchComments: function(){
      // Use php now to re-process comments;
      return;

      this.$http.get("/api/films/"+this.target_id+"/comments?type="+this.comment.type)
        .then(function (response){
          this.comments = response.data;
      });
       console.log("Fetched comments for target id "+this.target_id);
    },

    createComment: () => {
      this.$http.post("/api/films/"+this.target_id+"/comment", this.comment)
        .then(function (response){
        
         // this.fetchComments();
         // Just display the last comment on top, without reloading page
         var com = this.comment;         
         this.comments.push(com);
         $("#content").val('');

      });
      console.log("Submitted comment to target id "+this.target_id);
    },

    editComment: function(cid){
      this.$http.patch("/api/films/"+this.target_id+"/comment/"+cid, this.comment)
        .then( function (response){
          this.comment.content= '';
          this.comment.id= '';
          this.fetchComments();
          this.edit = false;
      });
    },

    deleteComment: function(cid){
      this.$http.delete("/api/films/"+this.target_id+"/comment/"+cid)
        .then( function (response){
          this.comment.content= '';
          this.fetchComments();
      });
    },

    showComment: function(cid){      
      for (var i = 0; i < this.comments.length; i++) {
        if (this.comments[i].id == cid) {
          this.comment.content = this.comments[i].content;
          this.comment.id = this.comments[i].id;
          //this.comment.user_name = this.comments[i].user_name;
          this.edit = true;
        }
      }
    }
  }
}

//console.log("Comments vue loaded");
</script>
